# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
    tags:
      - "v*.*.*"
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    strategy:
      matrix:
        platform: [windows, linux, linux-arm]
        include:
          - platform: windows
            os: windows-latest
            binary: lunch-tui.exe
          - platform: linux
            os: ubuntu-latest
            binary: lunch-tui
          - platform: linux-arm
            os: ubuntu-24.04-arm
            binary: lunch-tui-arm

    runs-on: ${{ matrix.os }}
    outputs:
      digest_windows: ${{ steps.digest-output.outputs.digest_windows }}
      digest_linux: ${{ steps.digest-output.outputs.digest_linux }}
      digest_linux-arm: ${{ steps.digest-output.outputs.digest_linux-arm }}
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Build
      run: go build -o ${{ matrix.binary }}

    - name: Test
      run: go test -v ./...

    - name: Output digest
      shell: bash
      id: digest-output
      run: |
          platform="${{ matrix.platform }}"
          digest=$(openssl dgst -sha256 ${{ matrix.binary }})
          echo "digest_${platform}=${digest}" >> "$GITHUB_OUTPUT"

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      id: artifact-upload-step
      with:
        name: lunch-tui-${{ matrix.platform }}
        path: ${{ matrix.binary }}

  log-digests:
    runs-on: ubuntu-latest
    needs: [build]
    name: Log digests
    steps:
      - run: echo '${{ toJSON(needs.build.outputs) }}'

  create-new-release:
      if: startsWith(github.ref, 'refs/tags/')
      environment: release
      needs: [build]
      runs-on: ubuntu-latest
      name: Create new release
      steps:
        - name: Download artifact
          uses: actions/download-artifact@v4
          with:
            path: out
            pattern: lunch-tui-*
            merge-multiple: true

        - name: Add digests
          run: |
            echo "${{ needs.build.outputs.digest_windows }}" > out/checksum.txt
            echo "${{ needs.build.outputs.digest_linux }}" >> out/checksum.txt
            echo "${{ needs.build.outputs.digest_linux-arm }}" >> out/checksum.txt

        - name: Release
          uses: softprops/action-gh-release@v2
          with:
            draft: false
            token: ${{ secrets.GH_TOKEN }}
            generate_release_notes: true
            files: out/*
            fail_on_unmatched_files: true
